body {
	margin: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	background-color: #fcfcfc;
}
.title {
	font-size:170%;
	font-weight:bold;
	text-align:center;
}
.subtitle {
	font-size:150%;
	text-align:center;
}

.header {
	font-size:130%;
}

a.source {
	font-size:70%;
}

.article_date{
	font-size:85%;
}
.article_author{
	font-size:80%;
}

.foot_nav{
	font-size:80%;
	margin:5px 10px;
	border-left:1px dotted #222;
}

.copyright{
	font-size:75%;
	text-align:center;
}
.call{
	font-size:85%;
}
.gffsdakji{
	display:none;
}	
.emlgrt1{
	display:none;
}	
.bvnkdfh{
	display:none;
}	
.kfdsexas{
	display:none;
}
