.java5  {font-family:monospace;border: 1px dotted #a0a0a0; font-family: 'Courier New', Courier, monospace; font-size: 100%; background-color: #f0f0f0; margin: 10px; line-height: 120%; padding: 5px;color: #000000;}
.java5 a:link {color: #006; text-decoration:none}
.java5 a:hover {background-color: #d6d6e6;}
.java5 .head {font-family: Verdana, Arial, sans-serif; color: #808080; font-size: 70%;  background-color: #f0f0ff; border-bottom: 1px solid #d0d0d0; padding: 2px;}
.java5 .foot {font-family: Verdana, Arial, sans-serif; color: #808080; font-size: 70%;  background-color: #f0f0ff; border-top: 1px solid #d0d0d0; padding: 2px;}
.java5 .imp { color: red;}
.java5 .kw1 {color: #0000FF;}
.java5 .kw2 {color: #0000FF; }
.java5 .kw3 {color: #0000FF; }
.java5 .kw4 {color: #0000FF; }
.java5 .kw5 {color: #0000FF;}
.java5 .kw6 {color: #0000FF;}
.java5 .kw7 {color: #0000FF;}
.java5 .kw8 {color: #0000FF;}
.java5 .kw9 {color: #0000FF;}
.java5 .kw10 {color: #0000FF;}
.java5 .kw11 {color: #0000FF;}
.java5 .kw12 {color: #0000FF;}
.java5 .kw13 {color: #0000FF;}
.java5 .kw14 {color: #0000FF;}
.java5 .kw15 {color: #0000FF;}
.java5 .kw16 {color: #0000FF;}
.java5 .kw17 {color: #0000FF;}
.java5 .kw18 {color: #0000FF;}
.java5 .kw19 {color: #0000FF;}
.java5 .kw20 {color: #0000FF;}
.java5 .kw21 {color: #0000FF;}
.java5 .kw22 {color: #0000FF;}
.java5 .kw23 {color: #0000FF;}
.java5 .kw24 {color: #0000FF;}
.java5 .kw25 {color: #0000FF;}
.java5 .kw26 {color: #0000FF;}
.java5 .kw27 {color: #0000FF;}
.java5 .kw28 {color: #0000FF;}
.java5 .kw29 {color: #0000FF;}
.java5 .kw30 {color: #0000FF;}
.java5 .kw31 {color: #0000FF;}
.java5 .kw32 {color: #0000FF;}
.java5 .kw33 {color: #0000FF;}
.java5 .kw34 {color: #0000FF;}
.java5 .kw35 {color: #0000FF;}
.java5 .kw36 {color: #0000FF;}
.java5 .kw37 {color: #0000FF;}
.java5 .kw38 {color: #0000FF;}
.java5 .kw39 {color: #0000FF;}
.java5 .kw40 {color: #0000FF;}
.java5 .kw41 {color: #0000FF;}
.java5 .kw42 {color: #0000FF;}
.java5 .kw43 {color: #0000FF;}
.java5 .kw44 {color: #0000FF;}
.java5 .kw45 {color: #0000FF;}
.java5 .kw46 {color: #0000FF;}
.java5 .kw47 {color: #0000FF;}
.java5 .kw48 {color: #0000FF;}
.java5 .kw49 {color: #0000FF;}
.java5 .kw50 {color: #0000FF;}
.java5 .kw51 {color: #0000FF;}
.java5 .kw52 {color: #0000FF;}
.java5 .kw53 {color: #0000FF;}
.java5 .kw54 {color: #0000FF;}
.java5 .kw55 {color: #0000FF;}
.java5 .kw56 {color: #0000FF;}
.java5 .kw57 {color: #0000FF;}
.java5 .kw58 {color: #0000FF;}
.java5 .kw59 {color: #0000FF;}
.java5 .kw60 {color: #0000FF;}
.java5 .kw61 {color: #0000FF;}
.java5 .kw62 {color: #0000FF;}
.java5 .kw63 {color: #0000FF;}
.java5 .kw64 {color: #0000FF;}
.java5 .kw65 {color: #0000FF;}
.java5 .kw66 {color: #0000FF;}
.java5 .kw67 {color: #0000FF;}
.java5 .kw68 {color: #0000FF;}
.java5 .kw69 {color: #0000FF;}
.java5 .kw70 {color: #0000FF;}
.java5 .kw71 {color: #0000FF;}
.java5 .kw72 {color: #0000FF;}
.java5 .kw73 {color: #0000FF;}
.java5 .kw74 {color: #0000FF;}
.java5 .kw75 {color: #0000FF;}
.java5 .kw76 {color: #0000FF;}
.java5 .kw77 {color: #0000FF;}
.java5 .kw78 {color: #0000FF;}
.java5 .kw79 {color: #0000FF;}
.java5 .kw80 {color: #0000FF;}
.java5 .kw81 {color: #0000FF;}
.java5 .kw82 {color: #0000FF;}
.java5 .kw83 {color: #0000FF;}
.java5 .kw84 {color: #0000FF;}
.java5 .kw85 {color: #0000FF;}
.java5 .kw86 {color: #0000FF;}
.java5 .kw87 {color: #0000FF;}
.java5 .kw88 {color: #0000FF;}
.java5 .kw89 {color: #0000FF;}
.java5 .kw90 {color: #0000FF;}
.java5 .kw91 {color: #0000FF;}
.java5 .kw92 {color: #0000FF;}
.java5 .kw93 {color: #0000FF;}
.java5 .kw94 {color: #0000FF;}
.java5 .kw95 {color: #0000FF;}
.java5 .kw96 {color: #0000FF;}
.java5 .kw97 {color: #0000FF;}
.java5 .kw98 {color: #0000FF;}
.java5 .kw99 {color: #0000FF;}
.java5 .kw100 {color: #0000FF;}
.java5 .kw101 {color: #0000FF;}
.java5 .kw102 {color: #0000FF;}
.java5 .kw103 {color: #0000FF;}
.java5 .kw104 {color: #0000FF;}
.java5 .kw105 {color: #0000FF;}
.java5 .kw106 {color: #0000FF;}
.java5 .kw107 {color: #0000FF;}
.java5 .kw108 {color: #0000FF;}
.java5 .kw109 {color: #0000FF;}
.java5 .kw110 {color: #0000FF;}
.java5 .kw111 {color: #0000FF;}
.java5 .kw112 {color: #0000FF;}
.java5 .kw113 {color: #0000FF;}
.java5 .kw114 {color: #0000FF;}
.java5 .kw115 {color: #0000FF;}
.java5 .kw116 {color: #0000FF;}
.java5 .kw117 {color: #0000FF;}
.java5 .kw118 {color: #0000FF;}
.java5 .kw119 {color: #0000FF;}
.java5 .kw120 {color: #0000FF;}
.java5 .kw121 {color: #0000FF;}
.java5 .kw122 {color: #0000FF;}
.java5 .kw123 {color: #0000FF;}
.java5 .kw124 {color: #0000FF;}
.java5 .kw125 {color: #0000FF;}
.java5 .kw126 {color: #0000FF;}
.java5 .kw127 {color: #0000FF;}
.java5 .kw128 {color: #0000FF;}
.java5 .kw129 {color: #0000FF;}
.java5 .kw130 {color: #0000FF;}
.java5 .kw131 {color: #0000FF;}
.java5 .kw132 {color: #0000FF;}
.java5 .kw133 {color: #0000FF;}
.java5 .kw134 {color: #0000FF;}
.java5 .kw135 {color: #0000FF;}
.java5 .kw136 {color: #0000FF;}
.java5 .kw137 {color: #0000FF;}
.java5 .kw138 {color: #0000FF;}
.java5 .kw139 {color: #0000FF;}
.java5 .kw140 {color: #0000FF;}
.java5 .kw141 {color: #0000FF;}
.java5 .kw142 {color: #0000FF;}
.java5 .kw143 {color: #0000FF;}
.java5 .kw144 {color: #0000FF;}
.java5 .kw145 {color: #0000FF;}
.java5 .kw146 {color: #0000FF;}
.java5 .kw147 {color: #0000FF;}
.java5 .kw148 {color: #0000FF;}
.java5 .kw149 {color: #0000FF;}
.java5 .kw150 {color: #0000FF;}
.java5 .kw151 {color: #0000FF;}
.java5 .kw152 {color: #0000FF;}
.java5 .kw153 {color: #0000FF;}
.java5 .kw154 {color: #0000FF;}
.java5 .kw155 {color: #0000FF;}
.java5 .kw156 {color: #0000FF;}
.java5 .kw157 {color: #0000FF;}
.java5 .kw158 {color: #0000FF;}
.java5 .kw159 {color: #0000FF;}
.java5 .kw160 {color: #0000FF;}
.java5 .kw161 {color: #0000FF;}
.java5 .kw162 {color: #0000FF;}
.java5 .kw163 {color: #0000FF;}
.java5 .kw164 {color: #0000FF;}
.java5 .kw165 {color: #0000FF;}
.java5 .kw166 {color: #0000FF;}
.java5 .co1 {color: #666666; font-style: italic;font-style: normal;}
.java5 .co2 {color: #006699;}
.java5 .co3 {color: #008000; font-style: italic; }
.java5 .coMULTI {color: #666666; font-style: italic;font-style: normal;}
.java5 .es0 {color: #000099; font-weight: normal;}
.java5 .br0 {color: #009900;}
.java5 .sy0 {color: #339933;}
.java5 .st0 {color: #0000ff;}
.java5 .nu0 {color: #cc66cc;}
.java5 .me1 {color: #006633;}
.java5 .me2 {color: #006633;}
.java5 .me {1}
.java5 span.xtra { display:block; }

